{% extends "index.html" %}
{% block content %}

    <form action="/plitka_save_order/" method="post">
    {% csrf_token %}
    <div class="order_form">
        <p>Площадь под кладку плитки?</p>
        <label>
            <input type="text" name="ploshad" required>
        </label>
        <p>Нужна ли установка сантехники?</p>
        <label for=""><select name="santehnika" id="">
            <option value="Не нужна">Нет</option>
            <option value="Нужна">Да</option>
        </select></label>
        <p>Материал предоставляет:</p>
        <label>
            <select name="material_ot" id="">
                <option value="заказчик">Заказчик</option>
                <option value="исполнитель">Исполнитель</option>
            </select>
        </label>
        <p>Другие детали:</p>
        <label><textarea name="details" id="" cols="10" rows="4"></textarea></label>
        <p>Бюджет(какой суммой располагаете)?</p>
         <label for=""><input type="text" name="money" id=""></label>
        <p>Выберите район:</p>
        <label for="" class="adres">
            <select name="city" id="city" >
                <option value="Симферополь">Симферополь</option>
                <option value="Севастополь">Севастополь</option>
            </select>
            <select name="district" id="district">
                <option value="Центр">Центр</option>
                <option value="Ж/Д">Ж/Д</option>
                <option value="Москольцо">Москольцо</option>
                <option value="Севастопольскя">Севастопольская</option>
                <option value="пл.Куйбышева">пл.Куйбышева</option>
                <option value="Марьино">Марьино</option>
            </select>
        </label>
        <p>Введите ваш номер телефона:</p>
        <label for="">
            <input type="text" id="phone" name="phone" required>
        </label>
         <p>Введите ваш email:</p>
        <label for="">
            <input type="email" name = "email" required>
        </label>

            <div class="create-order">
                <input type="submit" value="Оформить">
            </div>

    </div>

    </form>
{% endblock %}