{% extends "index.html" %}
{% block content %}

    <form action="/raboti_pod_kluch_save_order/" method="post">
    {% csrf_token %}
    <div class="order_form">
        <p>Укажите площадь участка работы?</p>
        <label>
            <input type="text" name="ploshad" required>
        </label>
        <p>Выберите тип помещения:</p>
        <label for=""><select name="room_type" id="">
            <option value="Частный дом">Частный дом</option>
            <option value="Квартира">Квартира</option>
            <option value="Магазин">Магазин</option>
            <option value="Уточните по телефону">Другой тип</option>
        </select></label>
        <p>Что нужно делать?</p>
        <label for="">
            <p><input type="checkbox" name="" id="1" value="бетонные работы"> бетонные работы</p>
            <p><input type="checkbox" name="" id="2" value="монтаж/демонтаж стен"> монтаж/демонтаж стен</p>
            <p><input type="checkbox" name="" id="3" value="монтаж/демонтаж дверей/окон"> монтаж/демонтаж дверей/окон</p>
            <p><input type="checkbox" name="" id="4" value="гипсокартонные перегородки"> гипсокартонные перегородки</p>
            <p><input type="checkbox" name="" id="5" value="покрытие пола"> покрытие пола</p>
            <p><input type="checkbox" name="" id="6" value="плиточные работы"> плиточные работы</p>
            <p><input type="checkbox" name="" id="7" value="водопровод/канализация/отопление"> водопровод/канализация/отопление</p>
            <p><input type="checkbox" name="" id="8" value="электропроводка"> электропроводка</p>
            <p><input type="checkbox" name="" id="9" value="утепление/звукоизоляция"> утепление/звукоизоляция</p>
        </label>
        <input type="text" name="works" id="works">
        <p>Другие детали:</p>
        <label><textarea name="details" id="" cols="10" rows="4"></textarea></label>
        <p>Бюджет(какой суммой располагаете)?</p>
         <label for=""><input type="text" name="money" id=""></label>
        <p>Выберите район:</p>
        <label for="" class="adres">
            <select name="city" id="city" >
                <option value="Симферополь">Симферополь</option>
                <option value="Севастополь">Севастополь</option>
            </select>
            <select name="district" id="district">
                <option value="Центр">Центр</option>
                <option value="Ж/Д">Ж/Д</option>
                <option value="Москольцо">Москольцо</option>
                <option value="Севастопольскя">Севастопольская</option>
                <option value="пл.Куйбышева">пл.Куйбышева</option>
                <option value="Марьино">Марьино</option>
            </select>
        </label>
        <p>Введите ваш номер телефона:</p>
        <label for="">
            <input type="text" id="phone" name="phone" required>
        </label>
         <p>Введите ваш email:</p>
        <label for="">
            <input type="email" name = "email" required>
        </label>

            <div class="create-order">
                <input type="submit" value="Оформить">
            </div>

    </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var works = "";
                $(":checkbox").change(function () {
                    works = "";
                  if($("#1").prop("checked")==true){
                      works = works + $("#1").val()+"; ";
                  }if($("#2").prop("checked")==true){
                      works = works + $("#2").val()+"; ";
                  }if($("#3").prop("checked")==true){
                      works = works + $("#3").val()+"; ";
                  }if($("#4").prop("checked")==true){
                      works = works + $("#4").val()+"; ";
                  }if($("#5").prop("checked")==true){
                      works = works + $("#5").val()+"; ";
                  }if($("#6").prop("checked")==true){
                      works = works + $("#6").val()+"; ";
                  }if($("#7").prop("checked")==true){
                      works = works + $("#7").val()+"; ";
                  }if($("#8").prop("checked")==true){
                      works = works + $("#8").val()+"; ";
                  }if($("#9").prop("checked")==true){
                      works = works + $("#9").val()+"; ";
                  }  
                  $("#works").val(works);
                    
                })
            })
        </script>

    </form>
{% endblock %}